name: Deploy

on:
  push:
    branches:
      - demo

jobs:
  deploy:
    name: Deploy
    runs-on: ubuntu-latest
    permissions:
        contents: write
    if: github.ref == 'refs/heads/demo'

    steps:
      - uses: actions/checkout@v4

      - name: Deploy to GitHub Pages
        uses: peaceiris/actions-gh-pages@v4
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: ./dist
